*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10px of 16px */
}

body {
  --darkest: #596f62;
  --darker: #92aa83;
  --green: #7ea16b;
  --light: #bad9b5;
  --white: #ffffff;
  font-family: "Open Sans", sans-serif;
  background-color: var(--light);
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--darkest);
  /*padding: 3rem;*/
  box-sizing: border-box;
}

/* body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
} */
